@use 'theme';

html,
body {
  margin: 0;
  height: calc(100vh - 8px);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  height: 100%;
  margin: 4px;
  align-items: center;
  align-content: center;

  &__images {
    grid-column: 1 / 9;
    height: 100%;

    @media screen and (max-width: 1160px) {
      grid-column: 1 / 13;
      grid-row: 1;
    }
  }

  &__description {
    grid-column: 9 / 12;
    height: 100%;

    @media screen and (max-width: 1160px) {
      grid-column: 1 / 13;
      grid-row: 2;
    }

    &__title {
      margin-top: 0;
      color: map-get(theme.$palette, blue);
    }

    &__text {
      color: map-get(theme.$palette, darkgray);
    }
  }
}
